@inherits LayoutComponentBase

<div class="h-[100%] w-[100%] fixed overflow-y-auto">
    <NavMenu />

    <main class="flex flex-row items-center justify-center min-h-[calc(100%-114px)]">
        <article class="flex flex-col text-center items-center justify-center px-4 py-16 gap-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
