@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-5xl">Welcome to <span
                class="bg-gradient-to-r from-pink-500 to-blue-500 bg-clip-text text-transparent">Blaze</span>!</h1>

<h2 class="text-2xl">A Blazor + Tailwind CSS + Fly.io Template</h2>
